Source: af
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, jenkins-support-scripts (>= 1.2.3  )
Standards-Version: 3.8.1
Homepage: http://safrm.net/projects/af

Package: af
Architecture: all
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: Actual date Folder =  create timestamp dir with optional name on linux/windows by 3 keyboard hits
