Source: af
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), xsltproc, docbook-xsl
Standards-Version: 1.0.0

Package: af
Architecture: all
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: Actual date Folder =  create timestamp dir with optional name on linux/windows by 3 keyboard hits
